node_modules/
.pnp
.pnp.js

.next/
out/
build/
dist/
next-env.d.ts
*.tsbuildinfo

public/_pagefind/

.env
.env.local
.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.DS_Store
Thumbs.db
desktop.ini

.idea/
*.swp

git-info.json
